@import '../../../styles/variables.module.scss';
.wrapper {
  display: flex;
  justify-content: space-around;
}

.content {
  width: 80%;
  transition: all 0.3s ease-in-out;
  border: 1px solid #84cbbe;
  border-radius: 5px;
  max-height: 3.5em;
  overflow: hidden;
  padding: 1em;
  background-color: #e1f2ef;
}

.content.open {
  max-height: 300px;
}

@media (min-width: $laptop) {
  .content {
    justify-content: center;
  }
}
